./ipynb_checkpoints
./vs
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/P1/v15/.suo
.vs/P1/v15/Browse.VC.db
.vs/P1/v15/Browse.VC.opendb
.vs/P1/v15/ipch/AutoPCH/262141eb0ed719f8/P1DECOMPOSICAODETEXTO.ipch
.vs/P1/v15/ipch/AutoPCH/4d5275731bea7a32/~VSCAD9.ipch
.vs/P1/v15/ipch/AutoPCH/535cb65726113bfd/LIST_SORT.ipch
.vs/P1/v15/ipch/AutoPCH/5d9246328a7560f4/DOUBLE_LINKED_LIST.ipch
.vs/P1/v15/ipch/AutoPCH/c61e5b3295773731/LIST_SORT.ipch
.vs/P1/v15/ipch/AutoPCH/dbf32c9a41788e05/P1DECOMPOSICAODETEXTO_FOPEN.ipch
.vs/P1/v15/ipch/AutoPCH/e0a13f69ed685bc4/P1DECOMPOSICAODETEXTO.ipch
.vs/P1/v15/ipch/AutoPCH/f5fe59e6e33e988/DOUBLE_LINKED_LIST.ipch
